/*-----------------nav bar & search bar-----------------*/

.center {
    text-align: center;
    margin: 0 auto;
}

#search-container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#search-field .form-control {
    display: inline-block;
}

#search {
    padding-right: 50px;
    width: 95%;
    margin: 13px 0;
}

.search-go {
    margin-left: -50px;
    width: 50px;
    border-radius: 12%;
    margin-bottom: 5px;
}

/*-----------------media queries-----------------*/

@media (min-width: 1200px) {
    #search {
    width: 90%;
}
}