@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rock+Salt&family=Russo+One&family=Source+Serif+Pro:ital@1&family=Alata&display=swap');

/*-----------------general/re-usable styles-----------------*/

body {
    font-family: 'Source Serif Pro', sans-serif;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.orange-hover {
    border-radius: 5px;
    transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    padding: 5px;
}

.orange-hover:hover {
    background-color: #f78f2e;
    color: #010101;
}

.green-hover {
    border-radius: 5px;
    transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    padding: 5px;
}

.green-hover:hover {
    background-color: #28a745;
    color: #010101;
}

.no-decoration {
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-weight: 500;
}

.no-decoration:hover {
    text-decoration: none;
    color: #010101;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.site-logo {
    font-family: 'Rock Salt', cursive;
    font-size: 23px;
    text-shadow: 2px 2px 2px #2f2f2f;
    color: #fb840a;
}

.white-text {
    color: #fafafa;
}

.spacer {
    height: 62px;
    width: 100%;
}

.no-padding {
    padding: 0;
}

.dark-theme {
    background-color: #3a3a3a;
    color: #fafafa;
}

.atr-form {
    width: 100%;
    max-width: 800px;;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
}

.no-bg {
    background: none;
}

.full-screen {
    height: 650px;
}

.padding-10 {
    padding: 10px
}

.padding-15 {
    padding: 15px;
}

.dark-overlay {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.light-overlay {
    width:100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    padding-right: 15px;
    padding-left: 15px;
}

.fs-18 {
    font-size: 18px;
}

.btn {
    box-shadow: 1px 1px 3px #2d2d2d;
}

/*-----------------login & create account-----------------*/

.w100-md-70 {
    max-width: 550px
    }

/*-----------------nav bar & search bar-----------------*/

#site-banner {
    width: 20px;
    height: 15px;

}

#search-container {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    overflow: hidden;
}

#search-field .form-control {
    display: inline-block;
}

#search {
    padding-right: 50px;
    width: 95%;
    margin: 13px 0;
    max-width: 978px;
}

.search-go {
    margin-left: -50px;
    width: 50px;
    border-radius: 12%;
    margin-bottom: 3px;
    height: 40px;
}

.user-expand-button {
    background-color: #d4d4d4;
    color: #000000;
}

.btn-outline-success {
    border-color: #9e9e9e;
}

.search-background {
    background-image: url('/static/images/search-background.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: table;
    padding: 0;
}

.search-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#search-field {
    background-color: rgba(9,9,9,0.5);
    padding: 17vh 5px;
}

.dropdown-green {
    border: 5px solid #28a745;
    left: -40px;
}

.dropdown-orange {
    border: 5px solid #f78f2e;
    left: -40px;
}

.navbar-dark .navbar-nav .dark-text {
    color: #010101;
}

.navbar-dark .navbar-nav .dark-text:visited {
    color: #010101;
}

.bg-dark {
    border-bottom: 1px solid #fafafa;
}

/*-----------------home page / recipe display-----------------*/

.header {
    text-align: center;
    padding: 17px;
    font-family: 'Dancing Script';
    font-size: 37px;
    margin-top: 10px;
}

.search-header {
    padding: 17px;
    font-family: inherit;
    margin-top: 10px;
}

.nine-width-hr {
    color: #fafafa;
    background-color: #fafafa;
    margin: 0 auto 20px auto;
    width: 75%;
}

.nine-width-hr-left {
    color: #fafafa;
    background-color: #fafafa;
    width: 75%;
    margin-left: 15px;
}

.recipe-card {
    max-width: 380px;
    min-width: 300px;
    background-color: #fafafa;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    overflow: hidden;
    padding: 5px;
    height: 455px;
    margin: 10px;
    color: #000000;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
}

.card-hover {
    transition: box-shadow 0.5s ease-in-out;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s ease-in-out;
    -o-transition: box-shadow 0.5s ease-in-out;
}

.card-hover:hover {
    text-decoration: none;
    box-shadow: inset 0 0 25px #28a745;
}

.card-hover:hover .card-heading {
    text-decoration: underline;
}

.image-container {
    width: 100%;
    height: 275px;
    overflow: hidden;
    border-radius: 10px;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-type {
    margin: 8px;
    margin-bottom: 4px;
    color: #fb840a;
    font-weight: 600;
    font-family: Atlanta, sans-serif;
}

.heading-container {
    height: 56px;
    overflow: hidden;
}

.card-heading {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1.5rem;
}

.card-info {
    margin-left: 8px;
}

.card-info i {
    color: #f37b00;
}

.info-wrap {
    position: absolute;
    bottom: 25px;
}


.pagination-page-info {
    padding: .6em;
    padding-left: 17px;
    width: 100%;
    margin: .5em;
    margin-left: 0;
    font-size: 14px;
}

.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.page-link {
    color: #000000;
    font-weight: 700;
}

.pagination {
    padding-left: 17px;
}

.container .d-flex {
    background-color: #484847;
    padding-top: 5px;
    padding-bottom: 5px;
}

.result-container {
    min-height: calc(60vh - 70px - 100px);
}

/*-----------------create/edit recipe-----------------*/

.form-container {
    padding: 10px;
}

.short-field {
    display: inline-block;
    width: 70%;
}

.mid-field {
    display: inline-block;
    width: 85%;
}

.add-button {
    width: 120px;
    margin-bottom: 4px;
    margin-left: 17px;
}

.remove-button {
    height: 39px;
    margin-bottom: 3px;
    width: 30px;
    margin-left: 4px;
    font-size: 21px;
    font-weight: 700;
}

.bg-create-recipe {
    background: url('/static/images/background-form.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.flashed-messages {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #ec7171;
    margin-top: 1rem;
}

/*-----------------view recipe-----------------*/

.recipe-background {
    background: url('/static/images/background-recipe.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
}

.paper {
    background: url('/static/images/paper.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    box-shadow: 5px 2px 3px #c7c7c7;
    padding: 0;
}

.recipe-title {
    color: #000000;
    font-size: 30px;
    padding-top: 30px;
    padding-right: 30px;
    font-family: "Rock Salt", sans-serif;
}

.img-container {
    position: relative;
}

.view-recipe-img {
    width: 100%;
    border: 3px solid #484848;
    box-shadow: 3px 3px 3px #8c8c8c;
}

.sm-full-screen {
    padding: 0;
}

.recipe-category {
    font-size: 25px;
    font-family: "Rock Salt", sans-serif;
    padding: 20px;
    text-align: center;
    color: #088c00;
    text-shadow: 2px 2px 3px #545454;
}

.info-container {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.recipe-info {
    font-weight: 600;
}

.recipe-info i {
    color: #fb840a;
    font-size: 25px;
}

.info-header {
    font-weight: 600;
}

.tools-link {
    margin-left: 20px;
    font-size: 16px;
}

.method-step {
    padding-bottom: 25px;
}

/*-----------------tools-----------------*/

.lakeland {
    font-family: "Russo One";
    color: #2c314a;
    font-size: 40px;
    text-shadow: -1px -1px 0 #ececec, 1px -1px 0 #ececec, -1px 1px 0 #ececec, 1px 1px 0 #ececec;
}

.tool-section {
    padding: 15px 0;
    background-color: #484847;
}

.section-title {
    padding-bottom: 15px;
}

.section-description {
    padding-bottom: 15px;
}

.image-stack-container {
    position: relative;
    padding-left: 5%;
    padding-bottom: 20px;
}

.image-stack-1 {
    box-shadow: 2px 2px 7px #f5f3f0;
    width: 40%;
    border: 0.1vw solid #3a3a3a;
}

.image-stack-2 {
    box-shadow: 4px 4px 7px #f5f3f0;
    width: 32%;
    border: 0.1vw solid #3a3a3a;
    position: absolute;
    top: 11%;
    left: 38%;
    z-index: 1;
}

.image-stack-3 {
    box-shadow: 4px 4px 7px #f5f3f0;
    width: 25%;
    border: 0.1vw solid #3a3a3a;
    position: absolute;
    top: 25%;
    left: 65%;
    z-index: 2;
}

.external-link-btn {
    text-align: right;
    margin-right: 10px;
}

/*-----------------footer-----------------*/

.footer-container {
    height: 100px;
    background-color: #272727;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.media-link {
    display: inline-block;
    font-size: 22px;
    padding: 5px 11px;
    color: #fafafa;
    transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
}

.media-link:hover {
    color: #fb840a;
}

/*-----------------media queries-----------------*/

@media (min-width: 540px) {
        .recipe-title {
    font-size: 45px;
    padding-top: 25px;
    }
    .lakeland {
        font-size: 66px;
    }
}

@media (min-width: 576px) {
    .sm-full-screen {
        padding-right: 15px;
        padding-left: 15px;
    }
    .dark-overlay {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .recipe-category {
        font-size: 30px;
    }
}

@media (min-width: 670px) {
    .w100-md-70 {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .orange-hover {
        padding: 0 5px;
    }
    .green-hover {
        padding: 0 5px;
    }
}

@media (min-width: 819px) {
    .atr-form {
        margin: 17px auto;
        border-radius: 10px;
    }
}

@media (min-width: 1200px) {
    #search {
        width: 80%;
    }
}