{% extends 'base.html' %} {% block content %}
<div class="row">
  <form action="{{ url_for('insert_recipe') }}" method="POST">
    <div class="row">
      <div class="col-12">
        <label for="category">Choose Category: </label>
        <select id="category" name="category" class="">
          <option value="" disabled selected>Choose Category</option>
          {% for cat in cats %}
          <option value="{{ cat.category_name }}">{{ cat.category_name.capitalize() }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="recipe_name">Recipe Name: </label>
        <input
          id="recipe_name"
          name="recipe_name"
          type="text"
          class=""
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="description">Description: </label>
        <textarea name="description" id="description"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="ingredient-wrapper">
        <label>Ingredients: </label> <button type="button" class="btn btn-primary btn-sm add-ingredient">Add ingredient</button>
        <div>
            <input name="ingredients" type="text" class="" />
            <button type="button" class="btn btn-outline-primary btn-sm remove-ingredient">-</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="method-wrapper">
        <label>Method: </label> <button type="button" class="btn btn-primary btn-sm add-method">Add Method Step</button>
        <div>
            <input name="method" type="text" class="" />
            <button type="button" class="btn btn-outline-primary btn-sm remove-method">-</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="tools-wrapper">
        <label>Required Tools: </label> <button type="button" class="btn btn-primary btn-sm add-tool">Add Tool</button>
        <div>
            <input name="tools" type="text" class="" />
            <button type="button" class="btn btn-outline-primary btn-sm remove-tool">-</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="servings">Servings: </label>
        <input id="servings" name="servings" type="number" class="" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="preparation_time">Prep Time: </label>
        <input
          id="preparation_time"
          name="preparation_time"
          type="number"
          class=""
          step="5"
        />
        <span>minutes</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="cook_time">Cook Time: </label>
        <input id="cook_time" name="cook_time" type="number" class="" step="5" />
        <span>minutes</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="image_url">Image URL: </label>
        <input id="image_url" name="image_url" type="text" class="" />
      </div>
    </div>
    <div class="row">
      <button type="submit">Create recipe</button>
    </div>
  </form>
</div>
<div class="row">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</div>
{% endblock %}
