{% extends 'base.html' %} {% block content %}
<div class="container-fluid dark-theme">
<!--Header-->
    <div class="row">
        <div class="col-12 no-padding">
            <h2 class="header">{{ header }}</h2>
            <hr class="nine-width-hr">
        </div>
    </div>
<!--Form-->
    <section class="row bg-create-recipe">
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="atr-form">
            <div class="form-group">
                <label for="recipe_name">Category: </label>
                <select id="category" name="category" class="form-control">
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in cats %}
                        <option value="{{ cat.category_name }}">{{ cat.category_name.capitalize() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="recipe_name">Recipe Name: </label>
                <input id="recipe_name" name="recipe_name" type="text" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="description">Description: </label>
                <textarea name="description" id="description" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <div id="ingredient-wrapper">
                    <label>Ingredients: </label>
                    <button type="button" class="btn btn-primary btn-sm add-ingredient add-button">Add ingredient</button>
                    <div>
                        <input name="ingredients" type="text" class="form-control short-field" />
                        <button type="button" class="btn btn-outline-primary btn-sm remove-ingredient remove-button ml-0">-</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div id="method-wrapper">
                    <label>Method: </label>
                    <button type="button" class="btn btn-primary btn-sm add-method add-button">Add Method Step</button>
                    <div>
                        <input name="method" type="text" class="form-control mid-field" required/>
                        <button type="button" class="btn btn-outline-primary btn-sm remove-method remove-button ml-0">-</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div id="tools-wrapper">
                    <label>Required Tools: </label>
                    <button type="button" class="btn btn-primary btn-sm add-tool add-button">Add Tool</button>
                    <div>
                        <input name="tools" type="text" class="form-control short-field" required/>
                        <button type="button" class="btn btn-outline-primary btn-sm remove-tool remove-button ml-0">-</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="servings" class="d-block">Servings: </label>
                <input id="servings" name="servings" type="number" class="form-control short-field" required/>
            </div>
            <div class="form-group">
                <label for="preparation_time" class="d-block">Prep Time: </label>
                <input id="preparation_time" name="preparation_time" type="number" class="form-control short-field" step="5" required/>
                <span>minutes</span>
            </div>
            <div class="form-group">
                <label for="cook_time" class="d-block">Cook Time: </label>
                <input id="cook_time" name="cook_time" type="number" class="form-control short-field" step="5" required/>
                <span>minutes</span>
            </div>
            <div class="form-group">
                    <label for="image_url">Image URL: </label>
                    <input id="image_url" name="image_url" type="text" class="form-control" required/>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary ml-3">Publish</button>
            </div>
        </form>
    </section>
    <div class="row">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>
</div>
{% endblock %}
