{% extends 'base.html' %}
    {% block content %}
        <h3>{{ header }}</h3>
        {% if recipes|length > 0 %}
            {% for recipe in recipes %}
                <h2>{{ recipe.recipe_name }}</h2>
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
            {% endfor %}
        {% else %}
            <h2>{{ error_message }}</h2>
        {% endif %}
        {{ pagination.info }}
        {{ pagination.links }}
    {% endblock %}