{% extends 'base.html' %}
    {% block content %}
    <main class="container-fluid dark-theme no-padding">
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <div class="header"><div class="lakeland">LAKELAND</div>Tools and Utensils</div>
                        <hr class="nine-width-hr">
                    </div>
                </div>
                <section class="row tool-section">
                    <div class="col-12">
                        <h3 class="section-title">Chopping Boards</h3>
                        <p class="section-description">How many times a day do you reach for a board? Whether you’re slicing the breakfast loaf, 
                        knocking up a quick snack, laying out a lunchtime charcuterie selection, or prepping meat for 
                        dinner: quality chopping boards are essential!</p>
                        <div class="image-stack-container">
                            <img src="/static/images/tools/chopping-board.jfif" class="image-stack-1" alt="chopping board">
                            <img src="/static/images/tools/chopping-board1.jfif" class="image-stack-2" alt="chopping board">
                            <img src="/static/images/tools/chopping-board2.jfif" class="image-stack-3" alt="chopping board">
                        </div>
                        <div class="external-link-btn">
                            <a class="btn btn-primary" href="https://www.lakeland.co.uk/in-the-kitchen/cutting-and-chopping/chopping-boards-and-racks/" target="_blank">View Range</a>
                        </div>
                    </div>
                </section>
                <section class="row tool-section">
                    <div class="col-12">
                        <h3 class="section-title">Knives</h3>
                        <p class="section-description">Just where do you start to choose the best kitchen knives for you? They all seem strong, 
                        sharp and up to the job, but which ones are a cut above the rest? Do you choose a full tang, fully forged knife, a ceramic 
                        blade or a standard stainless steel blade with a comfy plastic handle? Once you’ve decided on the material you then need to 
                        choose the type of knife.</p>
                        <div class="image-stack-container">
                            <img src="/static/images/tools/knives.jfif" class="image-stack-1" alt="Knife">
                            <img src="/static/images/tools/knife1.jfif" class="image-stack-2" alt="Knife">
                            <img src="/static/images/tools/knife2.jfif" class="image-stack-3" alt="Knife">
                        </div>
                        <div class="external-link-btn">
                            <a class="btn btn-primary" href="https://www.lakeland.co.uk/in-the-kitchen/cutting-and-chopping/knives/" target="_blank">View Range</a>
                        </div>
                    </div>
                </section>
                <section class="row tool-section">
                    <div class="col-12">
                        <h3 class="section-title">Slicers And Choppers</h3>
                        <p class="section-description">When it comes to those repetitive chops in the kitchen, you can make your life easier and safer 
                        with a slicer or chopper. They come in a variety of sizes and styles depending on what your needs.</p>
                        <div class="image-stack-container">
                            <img src="/static/images/tools/egg-slicer.jfif" class="image-stack-1" alt="Egg Slicer">
                            <img src="/static/images/tools/garlic-slicer.jfif" class="image-stack-2" alt="Garlic Slicer">
                            <img src="/static/images/tools/meat-slicer.jfif" class="image-stack-3" alt="Meat Slicer">
                        </div>
                        <div class="external-link-btn">
                            <a class="btn btn-primary" href="https://www.lakeland.co.uk/in-the-kitchen/cutting-and-chopping/mandolines%2C-slicers-and-choppers/" target="_blank">View Range</a>
                        </div>
                    </div>
                </section>
                <section class="row tool-section">
                    <div class="col-12">
                        <h3 class="section-title">Meat Mincers And Grinders</h3>
                        <p class="section-description">If you are a hands on cook and like to get your meat from the source, you will need to get yourself a meat
                        mincer or grinder if you want to make fresh butgers or sausages. There are a range of sizes and styles to choose from, as well as sausage
                        makers for that perfect home made sausage.</p>
                        <div class="image-stack-container">
                            <img src="/static/images/tools/manual-mincer.jfif" class="image-stack-1" alt="Meat Mincer">
                            <img src="/static/images/tools/mincer.jfif" class="image-stack-2" alt="Meat Mincer">
                            <img src="/static/images/tools/sausage-maker.jfif" class="image-stack-3" alt="Sausage Maker">
                        </div>
                        <div class="external-link-btn">
                            <a class="btn btn-primary" href="https://www.lakeland.co.uk/in-the-kitchen/cutting-and-chopping/meat-mincers-and-grinders/" target="_blank">View Range</a>
                        </div>
                    </div>
                </section>
                <section class="row tool-section">
                    <div class="col-12">
                        <h3 class="section-title">Peelers And Graters</h3>
                        <p class="section-description">We’ve all struggled with a bad peeler or grater at some time in our lives. The experience makes you 
                        appreciate the power these tiny tools hold over our food prep. Whip through fruit and veg in no time with a top quality peelers or grater.</p>
                        <div class="image-stack-container">
                            <img src="/static/images/tools/grater.jfif" class="image-stack-1" alt="Grater">
                            <img src="/static/images/tools/grater1.jfif" class="image-stack-2" alt="Grater">
                            <img src="/static/images/tools/peeler.jfif" class="image-stack-3" alt="Peeler">
                        </div>
                        <div class="external-link-btn">
                            <a class="btn btn-primary" href="https://www.lakeland.co.uk/in-the-kitchen/cutting-and-chopping/peelers%2C-graters-and-spiralizers/" target="_blank">View Range</a>
                        </div>
                    </div>
                </section>
                <section class="row tool-section">
                    <div class="col-12">
                        <h3 class="section-title">Sharpeners</h3>
                        <p class="section-description">Knives are our constant kitchen companions, but it's amazing how quickly they lose their edge. Not surprising 
                        when you think of the jobs they're expected to do. All that cutting, chopping, slicing and dicing, peeling and paring is bound to take its toll. 
                        A blunt knife requires more pressure to cut and as a result is harder to control. Thankfully restoring your blades back to their former glory 
                        doesn't need any skill, just a good knife sharpener, knife steel or whetstone.
                        </p>
                        <div class="image-stack-container">
                            <img src="/static/images/tools/sharpener.jfif" class="image-stack-1" alt="Knife Sharpener">
                            <img src="/static/images/tools/sharpener1.jfif" class="image-stack-2" alt="Knife Sharpener">
                            <img src="/static/images/tools/sharpener2.jfif" class="image-stack-3" alt="Knife Sharpener">
                        </div>
                        <div class="external-link-btn">
                            <a class="btn btn-primary" href="https://www.lakeland.co.uk/in-the-kitchen/cutting-and-chopping/sharpeners" target="_blank">View Range</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    {% endblock %}
