{% extends 'base.html' %}
    {% block content %}
    <div class="container-fluid dark-theme">
        <!--Header-->
        <div class="row">
            <div class="col-12 no-padding">
                <h2 class="header">{{ header }}</h2>
                <hr class="nine-width-hr">
            </div>
        </div>
        <!--flashed messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="col-12 center">
                <ul class="flashed-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        <!--Login form-->
        <div class="full-screen">
            <form action="{{ url_for('login') }}" method="POST" class="atr-form no-bg w100-md-70">
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input id="username" name="username" type="text" class="form-control" placeholder="DaveSmith123" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input id="password" name="password" type="password" class="form-control" required/>
                    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <p class="fs-18 center">Don't have an account? Create one <a href="{{ url_for('create_account') }}">Here</a></p>
            </form>
        </div>
    </div>
    {% endblock %}