{% extends 'base.html' %}
    {% block content %}
    <main class="container-fluid recipe-background">
        <div class="dark-overlay">
            <div class="container paper">
                <div class="light-overlay">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="recipe-category">{{ recipe.category.capitalize() }} Recipe</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8 sm-full-screen">
                            <div class="img-container">
                                <img src="{{ recipe.image_url }}" onerror="this.src='/static/images/ATR-default.jpg'" class="view-recipe-img">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h3 class="recipe-title">{{ recipe.recipe_name }}</h3>
                        </div>
                    </div>
                    <div class="row info-container">
                        <div class="recipe-info col-12 col-md-6 col-lg-4"><i class="far fa-clock"></i><span> Prep time: {{ recipe.preparation_time }} minutes</span></div>
                        <div class="recipe-info col-12 col-md-6 col-lg-4"><i class="far fa-clock"></i><span> Cook time: {{ recipe.cook_time }} minutes</span></div>
                        <div class="recipe-info col-12 col-md-6 col-lg-4"><i class="fas fa-user"></i><span> Serves: {{ recipe.servings }}</span></div>
                    </div>
                    <div class="row info-container">
                        <div class="col-12">
                            <p class="recipe-description">{{ recipe.description }}</p>
                        </div>
                    </div>
                    <div class="row info-container">
                        <div class="col-12 col-md-6">
                            <h4 class="info-header">Ingredients:</h4>
                            <ul>
                            {% for ingredient in recipe.ingredients %}
                                {% if not ingredient == "" %}
                                    <li>{{ ingredient }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row info-container">
                        <div class="col-12 col-md-6">
                            <h4 class="info-header">Required Tools:</h4>
                            <ul>
                            {% for tool in recipe.required_tools %}
                                {% if not tool == "" %}
                                    <li>{{ tool }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row info-container">
                        <div class="col-12">
                            <h4 class="info-header">Method:</h4>
                            <ol>
                            {% for step in recipe.method %}
                                {% if not step == "" %}
                                    <li>{{ step }}</li>
                                {% endif %}
                            {% endfor %}
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        {% if recipe.owner == session['username'] %}
                            {% if recipe.active == true %}
                            <div class="col-6 center p-3">
                                <a class="btn btn-info mr-2" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" role="button">Edit</a>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#removeModal">Remove</button>
                            </div>
                            {% else %}
                            <div class="col-6 center p-3">
                                <a class="btn btn-info mr-2" href="{{ url_for('republish_recipe', recipe_id=recipe._id) }}" role="button">Re-Publish</a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">Delete</button>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">
                {% if recipe.active == true %}
                    Remove Recipe?
                {% else %}
                    Permanently Delete Recipe?
                {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if recipe.active == true %}
                    <p>This recipe will be removed from public view and added to your Removed Recipes.</p>
                    <p>Are you sure you want to remove this recipe?</p>
                {% else %}
                    <p>This recipe will be permanently deleted. This action can't be undone</p>
                    <p>Are you sure you want to delete this recipe?</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if recipe.active == true %}
                    <a class="btn btn-warning" href="{{ url_for('remove_recipe', recipe_id=recipe._id) }}">Remove</a>
                {% else %}
                    <a class="btn btn-danger" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete</a>
                {% endif %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            </div>
        </div>
    </div>
    {% endblock %}